appdirs==1.4.4
arabic-reshaper==2.1.3
asgiref==3.4.1
astroid==2.4.1
autopep8==1.5.7
colorama==0.4.3
distlib==0.3.2
Django==3.2.3
django-crispy-forms==1.13.0
django-easy-pdf==0.1.1
filelock==3.0.12
future==0.18.2
html5lib==1.1
Pillow==9.0.0
pycodestyle==2.7.0
pylint==2.5.2
pytz==2020.4
reportlab==3.6.1
six==1.11.0
sqlparse==0.4.1
toml==0.10.1
virtualenv==20.4.7
virtualenvwrapper-win==1.2.6
wrapt==1.12.1
xhtml2pdf==0.2.5